<ion-header class="ion-no-border" mode="md">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Compress Video
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="video-container" *ngIf="gs.seletedVideo">
    <video #videoPlayer
    playsinline
    controls 
    preload="metadata"
    >
      Your browser does not support the video tag.
    </video>
    <div class="custom-controls">
      <ion-button  size="small" (click)="togglePlayPause()">
        <ion-icon [name]="isPlaying ? 'pause' : 'play'"></ion-icon>
      </ion-button>
      <ion-button  size="small" (click)="toggleMute()">
        <ion-icon [name]="isMuted ? 'volume-mute' : 'volume-high'"></ion-icon>
      </ion-button>
      <!-- <ion-button  size="small" (click)="toggleFullScreen()">
        <ion-icon [name]="isFullScreen ? 'contract' : 'expand'"></ion-icon>
      </ion-button> -->
    </div>
  </div>
 
</ion-content>

<ion-footer class="ion-no-border" *ngIf="gs.seletedVideo">
  <ion-toolbar style="padding: 1px !important;" class="ion-text-center">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-button expand="full" color="primary" (click)="openSaveFileModal()">
          <ion-icon name="save" slot="start"></ion-icon>
          Save
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>