.icon {
  width: 25px;
}

.icon-text{
  margin: 0;
}

ion-footer ion-col {
  padding: 0;
  margin: 0;
}

.card {
  padding: 8px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #000000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #31363f1f;
}

.tools-images{
  width: 45px;
}
.home-image {
  width: 75%;
}