<ion-header class="ion-no-border" mode="md">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      My Edits
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="secondary" *ngIf="saveFile.allFolder && saveFile.allFolder.length"> 

    <ion-segment mode="ios" [scrollable]="true"  (ionChange)="segmentChange()" [(ngModel)]="seletedFolderName" name="sagment">
      <ion-segment-button *ngFor="let folder of saveFile.allFolder"[value]="folder.name">
        <ion-label> {{folder.name | formatName}}</ion-label>
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ng-container *ngIf="allData && allData.length && !isSpinner">
    <div class="card" *ngFor="let item of allData; let index =index ">
      <!-- <ion-list> -->
        <ng-container >
          <ion-item [button]="true" [lines]="'none' " (click)="clickToAction(item,index)">
            <ion-avatar aria-hidden="true" slot="start" *ngIf="item.ext == 'mp4'">
              <img alt="" src="assets/icons/play.svg" />
            </ion-avatar> 
            <ion-avatar aria-hidden="true" slot="start" *ngIf="item.ext == 'm4a'">
              <img alt="" src="assets/icons/musicList.svg" />
            </ion-avatar>
            <ion-label>
              <ion-text>
                {{item.name}}
              </ion-text>
              <br>
              <ion-note>
                <span>{{ item.size |fileSize }}</span>
                <span>{{item.date| date}}</span>
              </ion-note>
            </ion-label>
          </ion-item>
        </ng-container>
      <!-- </ion-list> -->
    </div>
  </ng-container>
  


  <div class="card ion-text-center ion-padding" *ngIf="(!allData || !allData.length) &&  !isSpinner">
      <h6>No Edits Available</h6>
  </div>
</ion-content>